* {
    margin: 0px;

}

.background {
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size:contain;
    height: 100px;
}
#logo {
    width: 250px;
    margin-top: 30px;;
}
 #titolo {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif
}
.titolo, h2 {
    color: rgb(148, 148, 148);
    font-size: 15px;
}
.titolo, h3 {
    font-size: 10px;
    color: rgb(148, 148, 148);
}
.evidenza {
    color: #81cef0;
}
#didascalia {
    font-size: 10px;
    margin-bottom: 2%;
}
.importante {
    background-color:yellow
}
.elenco {
    margin-top: 20px;
    margin-bottom: 20px;
}
table {
    border-spacing: 0px;
    table-layout:fixed;
    width: 100%;
}
thead {
    background-color: #23aae5;
text-align: left;
}
table th {
    color: white;
}
.azzurro{
    background-color: #81cef0;
}
.descrizionetab {
    margin-top: 20px;
    margin-bottom: 20px;
}
footer p {
    color:rgb(148, 148, 148)
}
.aggiunta1 {
    margin-top:5px;
    margin-bottom:0px;
    width: 250px;
    height: 180px;
    background-image: url(../img/monitor.jpg);
    background-size: contain;
    background-repeat:no-repeat;
}
.aggiunta2 {
    margin-top: 0px;
    width: 250px;
    height: 250px;
    background-image: url(../img/graph.jpg);
    background-size: contain;
    background-repeat:no-repeat;
}
.infoto {
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 3px;
}