* {
    margin: 0px;

}

.background {
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size:contain;
    height: 100px;
}
#logo {
    width: 250px;
    margin-top: 30px;;
}
 

/* background-image: url(img/logo.svg); */